<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <a class="home-btn" href="/">Home</a>
        <div class="game-card">
            <h1><%= game.title %> (<%= game.yearReleased %>)</h1>

            <li>Genre: <%= game.genre %></li>
            <li>Studio: <%= game.studio %></li>
        </div>
    </body>
</html>