<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>Classic Games</title>
    </head>
    <body >
        <h1>Classic  Video Games</h1>
        <div class="games">
            <% games.forEach((game) => { %>
                <div class="game">
                    <li class="game-link">
                        <a href="/games/<%= game.title %>">
                            <%= game.title %> (<%= game.yearReleased %>)
                        </a>
                    </li>
                    <a class="delete-btn" href="/delete/<%= game.title %>">X</a>
                </div>
            <% }); %>
        </div>

    </body>
</html>