/* Global */
li {
    font-style: italic;
}
h1 {
    font-size: x-large;
}
body{
    margin: 1em 2em;
}
a:hover {
    text-decoration: underline;
}

/* Home page*/
.games {
    width: fit-content;
    padding: 0;
}
.game-link {
    width: fit-content;
    text-decoration: none;
}
.game-link:hover {
    text-decoration: underline;
}
.game-link {
    list-style: square;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.delete-btn {
    margin-left: 1em;
    text-decoration: none;
    width: fit-content;
    display: block;
}

.delete-btn:hover {
    color: red;
}

/* Details page*/
.game-card {
    text-align: center;
    padding: 1em 2em;
    border: solid 1px black;
    width:15em;
}
.game-card li {
    list-style: none;
}
.game-card h1 {
    margin-top: 0;
}
.home-btn {
    display: block;
    margin-bottom: 1em;
}
